# macOS
.DS_Store

# Rust/Cargo build artifacts
**/target/
**/dist/

# Logs and temp files
*.log
*.tmp
src/desktop/.env

tmp
Justfile
.claude/settings.local.json
kb/20260311*
/src/desktop/scripts/dev/__pycache__
